html{
	background-color: #E6E6D3;
}

.container{
	width: 100%;
	height: 100%;
	background-color: #E6E6D3;
	padding-left: 30px;
	max-width: 1600px;
	/* border: 1px solid #F00; */
	overflow: scroll;
	margin-bottom: 75px;
}


.media {
	width: 400px;
	height: 20px;
	float:right;
	padding-right: 0px;
	margin-right: 15px;
	text-align: right;
}

	.media i{
		padding: 1px;
		color: #333333;
	}

.page-header{
	border-bottom: 0px;
	margin-bottom: -48px;
	padding-top: 40px;
}
	
	.page-header h1 span{
		font-weight: bold;
		color: #7A8A20;
		padding: 5px;
	}

/*#top{
	width: 30px;
	height: 80px;
	text-align: center;
	font-family: 'Poiret One', cursive;
	font-size: 18px;
	background: #453f42;
	color:#cecece;
	padding-top: 10px;
	padding-bottom: 30px;
	min-width: 195px;
	box-shadow: 6px 6px 1px #888888;
	border: 1px solid #cecece;
	position: relative;
}	
*/
#middle{
	width: 100%;
	border-top: 2px solid #666;
	margin-right: 0px;
	margin-left: 0px;
}



	#middle div {
		padding-left: 0px;
		padding-right: 0px;
		padding-top: 10px;
		height: 202px;
		text-align: center;
	}

		#middle div img {
			height: 100%;
			width: 95%;
			padding: 5px;


		}

#blurb {
	width: 75%;
	min-width:200px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
}


.footer-left{
  position: fixed;
  /*margin-top: -150px;  negative value of footer height */
  height: 75px;
  clear:both;
  /*margin-left: -15px;
  margin-right: -15px;*/
  width: 50%;
  bottom: 0px;
  left: 0px;
  padding: 10px;
  background-color: #E6E6D3;
} 

	.footer span{
		color: #333333;
		font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
		font-size: 20px;
		font-weight: medium;
	}


	.footer form{

  		border-top: 2px solid #666;
	}

.form-group{
	width: 25%;
	float: right;
}
